/* Responsive CSS */

/* Small Devices and Phones(Portrait ) */

@media screen and (max-width: 425px) {
  /* Header */
  .header {
    margin-bottom: 0.35em;
    border-bottom: solid #7d97ad 2px;
  }

  .logo-image {
    display: none;
  }

  .logo-image-responsive {
    display: initial;
    height: 4.38em;
    margin-bottom: 0.75rem;
  }

  .header-text {
    padding-right: 0.25em;
  }

  .header-text h1 {
    font-size: 2.7em;
  }

  .header-text h2 {
    font-size: 1em;
  }

  /* Main */
  .main img {
    border-radius: 0px;
  }

  /* Featured Work */
  .featured-work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured-work h3 {
    margin: 0.5rem auto 1rem;
    font-size: 2em;
  }

  .featured-work-container {
    flex-direction: column;
  }

  .thumbnail {
    height: 210px;
  }

  .thumbnail h4 {
    font-size: 1.25em;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 520px) {
  /* Header */
  .logo-image-responsive {
    height: 5em;
  }

  .header-text h1 {
    font-size: 3em;
  }

  .header-text h2 {
    font-size: 1.25rem;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 899px) {
  /* Header */
  .header {
    margin-bottom: 0.35em;
    border-bottom: solid #7d97ad 2px;
  }

  .header-text {
    padding-right: 0.5em;
  }

  .logo-image {
    display: none;
  }

  .logo-image-responsive {
    display: initial;
    height: 7em;
    margin-bottom: 0.75rem;
  }

  /* Main */
  .main img {
    border-radius: 0px;
    height: 400px;
  }

  /* Featured Work */
  .featured-work-container {
    flex-flow: column;
    align-items: center;
  }

  .featured-work h3 {
    margin: 1rem 1rem 2rem;
    font-size: 2.5em;
  }

  .thumbnail {
    width: 500px;
    height: initial;
    padding-bottom: 1.25em;
  }

  .thumbnail img {
    height: 300px;
  }

  /* Footer */
  .footer-container {
    padding: 0 0.5em 0;
  }
}
